<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silviu086.licenta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.silviu086.licenta.permission.C2D_MESSAGE" />

    <permission
        android:name="com.example.silviu086.licenta.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANTZD0c5Qe0cLomQXeVzK1oNFwll7Atik" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyPassword" />
        <activity
            android:name=".NavigationActivity2"
            android:label="@string/title_activity_navigation2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModifyDate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyMasina"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.silviu086.licenta" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".CalatorieDetaliiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MesajeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MesajeConversatieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContRecenziiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UtilizatorProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalatorieAdaugataDetaliiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CalatorieInAsteptareDetalii" />
        <activity android:name=".CalatorieConfirmataDetaliiActivity" />
        <activity android:name=".TrimiteMesajActivity" />
        <activity android:name=".AdaugaRecenzieActivity"></activity>
    </application>

</manifest>
